/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colores =====*/
  --first-color: #3664f4;
  --dark-color: #070d1f;
  --dark-color-alt: #282b3a;
  --white-color: #ffffff;
  --white-color1: #a5a6f5;

  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: var(--white-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: 0.5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) [3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--first-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*===== HOME =====*/

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #c7c7c7;
  background-image: linear-gradient(#ffffff 0%, #f6f0c4, #ffffff);
}

.welcome-section p {
  display: flex;
  font-size: 1em;
  font-style: italic;
  color: var(--dark-color);
  text-align: center;
  flex-direction: column;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
.round-image {
  float: left;
  display: flex;
  width: 12em;
  height: 12em;
  margin: 3px;
  padding: 3px;
  border-radius: 100%;
  border: outset darkred;
}

h4 {
  font-weight: 100%;
  color: #585858;
  font-size: 0.9em;
}

.nav__social-icon_home {
  font-size: 3.2rem;
  color: var(--white-color1);
  margin-right: 1rem;
}

.nav__social-icon_home:hover {
  color: var(--dark-color);
}

.line-1 {
  position: relative;
  /* top: 50%;   */
  /* border-right: 2px solid rgba(255,255,255,.75); */
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-10%);
}

.div__center {
  max-width: 50%;
  padding: 25px;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .div__center {
    max-width: 100%;
  }
}
/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* ===TRABAJOS=== */
#trabajos {
  margin-bottom: 90px;
  width: 100%;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 2% 20px 2%;
}

.heading1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-top: 10px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.267);
  color: var(--dark-color);
}

.row {
  margin: 8px -6px;
}

/*Agregue relleno ENTRE cada columna  */
.row,
.row > .column {
  padding: 8px;
}

/* crear cuatro columnas iguales que flotan una al lado de la otra*/
.column {
  float: left;
  width: 25%;
}

/* Limpiar flotadores después de filas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
  font-size: 16px;
}
.content h3 {
  padding: 10px;
  font-size: 1.5em;
}

/* Diseño receptivo: hace un diseño de dos columnas en lugar de cuatro columnas */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Diseño receptivo: hace que las dos columnas se apilen una encima de la otra en lugar de una al lado de la otra. */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ==Skils== */
#Habilidades {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 40%;
  min-width: 280px;
  position: relative;
  left: 50%;
  margin-right: 150%;
  margin-left: 50%;
  margin-top: 50px;
  top: 50%;
}
.container {
  width: 100%;
  padding: 30px 30px 50px;
  background-color: white;
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
.container * {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 500;
}
h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.skills:not(:last-child) {
  margin-bottom: 30px;
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar {
  position: relative;
  border-radius: 20px;
}
.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: var(--dark-color);
}
#html-bar {
  animation: html-fill 7s forwards;
}
@keyframes html-fill {
  100% {
    width: 90%;
  }
}

#css-bar {
  animation: css-fill 8s forwards;
}
@keyframes css-fill {
  100% {
    width: 65%;
  }
}
#js-bar {
  animation: js-fill 9s forwards;
}
@keyframes js-fill {
  100% {
    width: 72%;
  }
}
#jQuery-bar {
  animation: jQuery-fill 10s forwards;
}
@keyframes jQuery-fill {
  100% {
    width: 28%;
  }
}
#php-bar {
  animation: php-fill 11s forwards;
}
@keyframes php-fill {
  100% {
    width: 80%;
  }
}
#React-bar {
  animation: React-fill 11s forwards;
}
@keyframes React-fill {
  100% {
    width: 70%;
  }
}
#Strapi-bar {
  animation: Strapi-fill 11s forwards;
}
@keyframes Strapi-fill {
  100% {
    width: 100%;
  }
}
#python-bar {
  animation: python-fill 12s forwards;
}
@keyframes python-fill {
  100% {
    width: 80%;
  }
}
#c-bar {
  animation: c-fill 13s forwards;
}
@keyframes c-fill {
  100% {
    width: 50%;
  }
}
#git-bar {
  animation: git-fill 14s forwards;
}
@keyframes git-fill {
  100% {
    width: 90%;
  }
}
#Sql-bar {
  animation: sql-fill 15s forwards;
}
@keyframes sql-fill {
  100% {
    width: 60%;
  }
}

/* ==Educacion== */
.education {
  width: 100%;
  position: relative;
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid rgb(12, 12, 12);
  position: relative;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 1.5rem;
  color: var(--dark-color);
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1rem;
  color: rgb(78, 78, 78);
  padding: 1rem 0;
}
.education .box-container .box i {
  position: absolute;
  top: -1.5em;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 251, 251);
  background: #000000;
}

/* ==Footer== */
.heading {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(235, 222, 222, 0.267);
  color: var(--white-color);
}

.container1 {
  width: 100%;
  padding: 30px 30px 40px 40px;
  margin: auto;
  background-color: var(--dark-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  width: 100%;
  background-color: var(--dark-color);
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li:hover {
  color: var(--first-color);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.footer-col .social-links a:hover {
  background-color: var(--first-color);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .div__center {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .footer-col {
    width: 100%;
  }

}
